* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 10pt;
  font-weight: bold;
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: 0.5s;
}
@keyframes blink_red {
  to {
    background-color: rgb(210, 15, 57);
    color: rgb(156, 160, 176);
  }
}
.warning, .critical, .urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
window#waybar {
  background-color: transparent;
}
window > box {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  background-color: #eff1f5;
}
#workspaces {
  padding-left: 0px;
  padding-right: 4px;
}
#workspaces button {
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 2px;
  padding-right: 2px;
  color: rgb(254, 100, 11);
}
#workspaces button.focused {
  color: rgb(23, 146, 153);
  /* border-radius: 50%; */
  /* padding: 0; */
  margin: 0;
}
#workspaces button.urgent {
  color: rgb(26, 24, 38);
}
#workspaces button:hover {
  background-color: rgb(124, 127, 147);
  color: rgb(230, 233, 239);
}
tooltip {
  background: rgb(217, 224, 238);
}
tooltip label {
  color: rgb(48, 45, 65);
}
#custom-launcher {
  padding-left: 8px;
  padding-right: 6px;
  color: rgb(76, 79, 105);
}
#mode, #clock, #memory, #temperature,#cpu,#mpd, #idle_inhibitor, #temperature, #backlight, #pulseaudio, #network, #battery, #custom-powermenu, #custom-cava-internal {
  padding-left: 10px;
  padding-right: 10px;
}

/* #mode { */
/* 	margin-left: 10px; */
/* 	background-color: rgb(248, 189, 150); */
/*     color: rgb(26, 24, 38); */
/* } */

#memory {
  color: rgb(4, 165, 229);
}
#cpu {
  color: rgb(136, 57, 239);
}
#clock {
  color: rgb(32, 159, 181);
}
#idle_inhibitor {
  color: rgb(221, 182, 242);
  color: rgb(136, 57, 239);
}
#temperature {
  color: rgb(234, 118, 203);
}
#backlight {
  color: rgb(30, 102, 245);
}
#pulseaudio {
  color: rgb(220, 138, 120);
}
#network {
  color: rgb(114, 135, 253);
}
#network.disconnected {
  color: rgb(92, 95, 119);
  color: rgb(254, 100, 11);
}
#battery {
  color: rgb(64, 160, 43);
}
#battery.charging, #battery.full, #battery.discharging {
  color: rgb(223, 142, 29);
}
#battery.critical:not(.charging) {
  color: rgb(230, 69, 83);
}
#custom-powermenu {
  color: rgb(230, 69, 83);
}
#tray {
  padding-right: 8px;
  padding-left: 10px;
}
#mpd.paused {
  color: #414868;
  color: rgb(172, 176, 190);
  font-style: italic;
}
#mpd.stopped {
  background: transparent;
}
#mpd {
  color: rgb(114, 135, 253);
}
#custom-cava-internal{
  font-family: "Hack Nerd Font" ;
}
