@import "./themes/colors-waybar.css";
@import "themes/mocha.css";

/* Global */
* {
  font-family: "FiraCode Nerd Font";
  font-size: 1rem;
  border-radius: 1rem;
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: @background;
}

@keyframes blink_red {
  to {
    background-color: @color9;
    color: @background;
  }
}

.warning, .critical, .urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#mode, #clock, #memory, #temperature, #cpu, #custom-weather,
#mpd, #idle_inhibitor, #backlight, #pulseaudio, #network, 
#battery, #custom-powermenu, #custom-cava-internal,
#custom-launcher, #tray, #disk, #custom-pacman, #custom-scratchpad-indicator {
  padding-left: .6rem;
  padding-right: .6rem;
}

/* Bar */
window#waybar {
  background-color: transparent;
}

window > box {
  background-color: transparent;
  margin: .3rem;
  margin-bottom: 0;
}


/* Workspaces */
#workspaces:hover {
  background-color: @color1;
  border: none;
}

#workspaces button {
  padding-right: .4rem;
  padding-left: .4rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
  color: @color2;
  border: .2px solid transparent;
  background: transparent;
}

#workspaces button.focused {
  color: @color3;
}

#workspaces button:hover {
  border: .2px solid transparent;
  color: @color4;
}

/* Tooltip */
tooltip {
  background-color: @background;
}

tooltip label {
  color: @foreground;
}

/* battery */
#battery {
  color: @color5;
}
#battery.charging, #battery.full, #battery.discharging {
  color: @foreground;
}
#battery.critical:not(.charging) {
  color: @color6;
}
#custom-powermenu {
  color: @red;
}

/* mpd */
#mpd.paused {
  color: @color7;
  font-style: italic;
}
#mpd.stopped {
  color: @foreground;
  /* background: transparent; */
}
#mpd {
  color: @color8;
}

/* Extra */
#custom-cava-internal{
  color: @color9;
  padding-right: 1rem;
}
#custom-launcher {
  color: @color10;
}
#memory {
  color: @color11;
}
#cpu {
  color: @color12;
}
#clock {
  color: @color13;
}
#idle_inhibitor {
  color: @color14;
}
#temperature {
  color: @color15;
}
#backlight {
  color: @color16;
}
#pulseaudio {
  color: @color17;
}
#network {
  color: @color1;
}
#network.disconnected {
  color: @foreground;
}
#disk {
  color: @color1;
}
#custom-pacman{
  color: @color2;
}
#custom-scratchpad-indicator {
  color: @color3
}
#custom-weather {
  color: @color4;
}
