@import "./themes/colors-waybar.css";
@import "themes/mocha.css";

/* Global */
* {
  font-family: "FiraCode Nerd Font";
  font-size: 0.9rem;
  border-radius: 1rem;
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: @background;
}

@keyframes blink_red {
  to {
    background-color: @foreground;
    color: @background;
  }
}

.warning, .critical, .urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#mode, #clock, #memory, #temperature, #cpu, #custom-weather,
#mpd, #idle_inhibitor, #backlight, #pulseaudio, #network, 
#battery, #custom-powermenu, #custom-cava-internal,
#custom-launcher, #tray, #disk, #custom-pacman, #custom-scratchpad-indicator {
  padding-left: .6rem;
  padding-right: .6rem;
}

/* Bar */
window#waybar {
  background-color: transparent;
}

window > box {
  background-color: @foreground;
  margin: .3rem;
  margin-bottom: 0;
}


/* Workspaces */
#workspaces:hover {
  /* background-color: @foreground; */
  background-color: @foreground;
  border: none;
}

#workspaces button {
  padding-right: .4rem;
  padding-left: .4rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
  color: @foreground;
  border: .2px solid transparent;
  background: transparent;
}

#workspaces button.focused {
  /* color: @foreground; */
  color: @foreground;
}

#workspaces button:hover {
  border: .2px solid transparent;
  /* color: @foreground; */
  color: @foreground;
}

/* Tooltip */
tooltip {
  /* background: @crust; */
  background: @foreground;
}

tooltip label {
  /* color: @text; */
  color: @foreground;
}

/* battery */
#battery {
  color: @foreground;
  color: @foreground;
}
#battery.charging, #battery.full, #battery.discharging {
  color: @foreground;
}
#battery.critical:not(.charging) {
  color: @foreground;
}
#custom-powermenu {
  color: @red;
}

/* mpd */
#mpd.paused {
  color: @foreground;
  font-style: italic;
}
#mpd.stopped {
  color: @foreground;
  /* background: transparent; */
}
#mpd {
  color: @foreground;
}

/* Extra */
#custom-cava-internal{
  color: @foreground;
  padding-right: 1rem;
}
#custom-launcher {
  color: @foreground;
}
#memory {
  color: @foreground;
}
#cpu {
  color: @foreground;
}
#clock {
  color: @foreground;
}
#idle_inhibitor {
  color: @foreground;
}
#temperature {
  color: @foreground;
}
#backlight {
  color: @foreground;
}
#pulseaudio {
  color: @foreground;
}
#network {
  color: @foreground;
}
#network.disconnected {
  color: @foreground;
}
#disk {
  color: @foreground;
}
#custom-pacman{
  color: @foreground;
}
#custom-scratchpad-indicator {
  color: @foreground
}
#custom-weather {
  color: @foreground;
}
