@import "./colors-waybar.css"

/* @define-color bg #161320; */
/* @define-color bg-hover #1E1E2E; */
/* @define-color blue #96CDFB; */
/* @define-color sky #89DCEB; */
/* @define-color red #F28FAD; */
/* @define-color pink #F5C2E7; */
/* @define-color lavender #C9CBFF; */
/* @define-color rosewater #F5E0DC; */
/* @define-color flamingo #F2CDCD; */
/* @define-color fg #D9E0EE; */
/* @define-color green #ABE9B3; */
/* @define-color dark-fg #161320; */
/* @define-color peach #F8BD96; */
/* @define-color border @blue; */
/* @define-color gray2 #6E6C7E; */
/* @define-color black4 #575268; */
/* @define-color black3 #302D41; */
/* @define-color maroon #E8A2AF; */

#window {
  margin: 0px;
  border: 2px solid @foreground;
  border-radius: 1rem;
  background-color: @background;
  font-family: "FiraCode Nerd Font";
  font-size: 16px;
  background: @background;
  /* background: linear-gradient(90deg, rgba(30,30,46,1) 26%, rgba(26,24,38,1) 55%, rgba(22,19,32,1) 91%);  */
}

#input {
  margin: 15px;
  border: 2px solid @color1;
  border-radius: 10px;
  color: @color2;
  background: @background;
  /* background: linear-gradient(90deg, rgba(30,30,46,1) 43%, rgba(26,24,38,1) 82%, rgba(22,19,32,1) 91%);  */
}

#input:focus {
  background: @color4;
  /* background: linear-gradient(90deg, rgba(48,45,65,1) 19%, rgba(30,30,46,1) 77%, rgba(26,24,38,1) 100%);  */
}

#input:focus image {
  color: @color3;
}

#input image {
	color: @color4;
}

#inner-box {
  margin: 5px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  background-color: inherit;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: inherit;
  border-radius: 7px;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: @foreground;
} 

#entry:selected {
	border-radius: 10px;
  background: linear-gradient(90deg, @color10 28%, @color11 85%, @color9 100%); 
}

#text:selected {
	background-color: inherit;
	color: @color0;
	font-weight: normal;
}
